@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f2f2f2;
  color: #121212;
  background: no-repeat center center fixed url(../images/bg_blur.jpg);
  background-size: cover;
}

.dancing-script {
  font-family: 'Dancing Script', cursive;
}

.dosis {
  font-family: 'Dosis', sans-serif;
}

.bg-transparent {
  background-color: transparent;
}

.ptp-8 {
  padding-top: 8%;
}

.navbar {
  background-color: #f0f0f0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  opacity: 0.8;
  position: fixed;
  z-index: 99999;
  width: 100%;
  display: flex;
}

.navbar-brand-group {
  display: flex;
}

.navbar-brand-logo img {
  width: 35px;
  border-radius: 50%;
}

.navbar-brand-group span {
  font-family: 'Dancing Script', cursive;
}

ul.navbar-menu-list {
  display: flex;
  list-style: none;
  margin: auto;
}

ul.navbar-menu-list a {
  text-decoration: none;
}

li.navbar-menu-item {
  margin-left: 5px;
  margin-right: 5px;
  padding: 0;

}

li.navbar-menu-item span {
  display: none;
  color: #121212;
  white-space: nowrap;
  height: 20px;
  font-family: 'Dancing Script', cursive;
  font-size: 18px;
}

li.navbar-menu-item img {
  width: 25px;
  border-radius: 50%;
}

svg {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 100vh;
}

.heart-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.heart {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 3000px;
  min-width: 1920px;
  pointer-events: none;
  transform: translate3d(-50%, 0, 0);
}

.logo-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 80px;
  position: absolute;
  flex-direction: column;
  z-index: 999999;
}

.logo-container a {
  cursor: pointer;
}

.logo-container .logo-big {
  animation: shadow-pulse 1s infinite;
  cursor: pointer;
}

img.logo-big {
  width: 100px !important;
  height: 100px !important;
  border-radius: 50%;
}

.carousel {
  height: 100vh;
  width: 100%;
  position: absolute;

}

.carousel-item {
  height: 100vh;
  justify-content: center;
  align-items: flex-end;
}

.carousel-item > div > img {
  height: 65%;
}

.content-item {
  background-color: #DBDBDB;
}

.bottom-layer {
  position: absolute;
  top: 160vh;
  width: 100%;
}

.bottom-layer img {
  position: absolute;
}

.bigger-image {
  width: 60%;
  height: auto !important;
}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(255, 255, 255, 0);
  }
}

@keyframes shadow-pulse-big
{
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.1);
  }
  100% {
    box-shadow: 0 0 0 70px rgba(255, 255, 255, 0);
  }
}

@keyframes shadow-pulse-big-dark
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.3);
  }
  100% {
    box-shadow: 0 0 0 70px rgba(0, 0, 0, 0);
  }
}

.side-image-profile {
  width: 100%;
  border-radius: 50%;
  margin-top: 100px;
  margin-left: -40%;
  box-shadow: 0 0 0 70px rgba(0, 0, 0, 0.05);
}

p.lead {
  font-size: 27px;
}

#values {
  background-color: #DBDBDB;
  opacity: 0.5;
  padding: 1%;
  width: 100%;
}

.icon-container a {
  position: absolute;
  z-index: 999992;
  top: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.icon-container a:hover {
  cursor: pointer;
}

.icon_1 {
  width: 150px;
  transform: translateX(-60px) translateY(40px);
}

.contact {
  height: 80px;
}

.contact img {
  width: 65px;
  margin-left: 7px;
  margin-right: 7px;
  filter: grayscale(100%);
}

.contact img:hover {
  filter: grayscale(0);
  width: 75px;
  animation: shadow-pulse 1s infinite;
}

#sidebar .contact {
  height: 70px;
  padding: 10px;
  position: absolute;
  bottom: 0;
}

#sidebar .contact img {
  width: 40px;
}

.button-bottom-container {
  position: fixed;
  top: 20%;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 0;
}

.button-bottom {
  padding: 0.5%;
  border-radius: 100px;
  background-color: #DBDBDB;
  opacity: 0.7;
  display: flex;
  align-items: center;
  max-width: min-content;
  cursor: pointer;
  animation: shadow-pulse-big-dark 1s infinite;
  border: white;
}

.button-bottom img {
  width: 100px;
  border-radius: 50%;
}

.button-bottom h1 {
  max-width: 0;
  -webkit-transition: max-width 1s;
  transition: max-width 1s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
}

.button-bottom:hover h1 {
  max-width: 100%;
  margin-left: 6px;
  margin-right: 6px;
}

.profile {
  background-color: #DBDBDB;
  padding-bottom: 3%;
  margin: 0;
}

.bottom-inset-shadow {
    box-shadow: inset 0 -7px 9px -7px rgba(0,0,0,0.7);
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    max-height: 100vh;
    z-index: 999;
    background: #222222;
    color: #fff;
    display: block;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 32px 32px 32px 32px;
}

#sidebarCollapse{
    display: none;
}

#sidebar ul:before{

}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #ffff;
    padding: 16px 32px 16px 32px;
    font-family: 'Roboto';
    border-bottom: 1px solid #ffffff;
}

#sidebar ul li a {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 1.1em;
    display: block;
    color: #fff;
}

#sidebar ul li a:hover {
    color: #0E9D6F;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #30A982;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: white;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #0E9D6F;
}

a.article,
a.article:hover {
    background: white !important;
    color: #fff !important;
}

#content-side {
    width: calc(100% - 300px);
    padding: 7%;
    position: relative;
    margin-left: auto;
    min-height: 100vh;
    background: #DBDBDB;
    transform: translateX(100%);
}

.curtain {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
}

.curtain__wrapper {
    position: fixed;
}

.curtain__panel {
    float: left;
    position: relative;
    z-index: 2;
    transition: all 1s ease-in;
}

#sidebar {
    transform: translateX(-100%);
}

.sidebar .side-image-profile {
    margin-left: -25%;
    margin-top: -10%;
    box-shadow: 0 0 0 70px rgba(255, 255, 255, 0.05);
}

.menu_list {
    margin-top: 85px;
    list-style: none;
    padding: 0;
}

a > li.menu_item {
    padding: 1rem 2rem;
    font-size: 24px;
    cursor: pointer;
    font-family: 'Dancing Script';
}

a > li.menu_item:hover {
    color: #222222;
    transition: all 0.2s ease-in;
    background: lightgray;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #222222;
    transition: all 0.2s ease-in;
    background: lightgray;
}

.nav-pills .nav-link {
    border-radius: 0;
}

.nav-link {
    padding:0;
}

a.nav-link {
    color: white;
}

#sidebarCollapse{
    display: none;
    background: #222222;
}

.overlay {
    display: none;
    background: #000;
    opacity: 0.8;
    z-index: 0;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.btn-icon {
    display: inline;
}

@media (max-width: 768px) {
    #sidebar {
        display: none;
    }
    #content-side{
        width: 100%;
    }
    #resume {
        background: #DBDBDB;
    }
    #sidebarCollapse{
        display: inline;
    }
}