{% extends 'base.html' %}
{'% load staticfiles %}

{% block content %}
<script type="text/javascript">
  $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').trigger('focus')
  })
</script>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addEvent">
  Add event
</button>
<!-- Modal -->
<div class="modal fade" id="addEvent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{% url 'add_event' %}">
          {% csrf_token %}
          <div class="form-group center">
              <label for="status"><strong>{{ forms.title.label_tag }}</strong></label>
              {{ forms.title }}
              <label for="status"><strong>{{ forms.dates.label_tag }}</strong></label>
              {{ forms.dates }}
          </div>
          <br>
          <button id="submit" type="submit" class="btn btn-primary waves-effect waves-h4ght" value="Save"><h4>Add</h4></button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<div id="calendar" class="calendar-dark">
  <table class="table table-bordered">
    <thead>
      <th>Sunday</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
    </thead>
    <tbody>
      {% include 'calendar_entry.html' %}
    </tbody>
  </table>
</div>
{% endblock %}
