{% load static %}
<nav class="navbar bg-transparent text-light">
  <div class="navbar-brand-group pl-5">
<!--    <div class="navbar-brand-logo mx-3">-->
<!--      <img src="{% static 'new_website/images/lulz_logo.png' %}">-->
<!--    </div>-->
    <span class="navbar-brand my-auto" style="font-size: 26px">
      Random Lulz Things
    </span>
  </div>

  <div class="nav-logo-container">
    <button onclick="scrollToBottom()" class="bg-transparent border-0">
      <img src="{% static 'new_website/images/lulz_logo.png' %}" class="object-top logo-medium" />
    </button>
  </div>

  <div class="navbar-menu pr-5">
      <ul class="navbar-menu-list">
        <a href="#profile">
          <li class="navbar-menu-item">
            <span style="font-size: 26px">Download CV</span>
          </li>
        </a>
      </ul>
  </div>
</nav>