{% load static %}
<nav class="navbar">
  <div class="navbar-brand-group">
    <div class="navbar-brand-logo mx-3">
      <img src="{% static 'new_website/images/lulz_logo.png' %}">
    </div>
    <span class="navbar-brand my-auto">
      Random Lulz Things
    </span>
  </div>

  <div class="navbar-menu">
      <ul class="navbar-menu-list">
        <a href="#">
          <li class="navbar-menu-item">
            <img src="{% static 'new_website/images/profile.png' %}">
            <span>Description</span>
          </li>
        </a>

        <a href="#">
          <li class="navbar-menu-item">
            <img src="{% static 'new_website/images/education.png' %}">
            <span>Education</span>
          </li>
        </a>

        <a href="#">
          <li class="navbar-menu-item">
            <img src="{% static 'new_website/images/experience.png' %}">
            <span>Experience</span>
          </li>
        </a>

        <a href="#">
          <li class="navbar-menu-item">
            <img src="{% static 'new_website/images/achievement.png' %}">
            <span>Achievement</span>
          </li>
        </a>

        <a href="#">
          <li class="navbar-menu-item">
            <img src="{% static 'new_website/images/skill.png' %}">
            <span>Skill</span>
          </li>
        </a>

        <a href="#">
          <li class="navbar-menu-item">
            <img src="{% static 'new_website/images/project.png' %}">
            <span>Project</span>
          </li>
        </a>

        <a href="#">
          <li class="navbar-menu-item">
            <img src="{% static 'new_website/images/hobbies.png' %}">
            <span>Hobbies & Interest</span>
          </li>
        </a>

        <a href="#">
          <li class="navbar-menu-item">
            <img src="{% static 'new_website/images/contact.png' %}">
            <span>Contact</span>
          </li>
        </a>
      </ul>
  </div>
</nav>