{% extends 'new_website/base.html' %}
{% load static %}

{% block style %}
<link href="{% static 'new_website/css/style.css' %}" rel="stylesheet">
<link href="{% static 'new_website/css/parallax.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
<script src="{% static 'new_website/js/parallax.js' %}"></script>
{% endblock %}

{% block content %}
<div class="button-bottom-container top-first">
  <button class="button-bottom">
    <img src="{% static 'new_website/images/lulz_logo.png' %}" />
    <h1 class="dancing-script">More about me</h1>
  </button>
</div>
<div class="parallax">
  <div class="parallax__layer parallax__layer__0">
    <img src="{% static 'new_website/images/bg0.png' %}" class="object-top position-fixed"/>
  </div>
  <div class="parallax__layer parallax__layer__1">
    <img src="{% static 'new_website/images/bg1.png' %}" class="object-bottom"/>
  </div>
  <div class="parallax__layer parallax__layer__2">
    <img src="{% static 'new_website/images/bg2.png' %}" class="object-bottom"/>
  </div>
  <div class="parallax__layer parallax__layer__3">
    <img src="{% static 'new_website/images/bg3.png' %}" class="object-bottom"/>
  </div>
  <div class="parallax__layer parallax__layer__4">
    <img src="{% static 'new_website/images/bg4.png' %}" class="object-bottom"/>
  </div>
  <div class="parallax__layer parallax__layer__5">
    <img src="{% static 'new_website/images/bg5.png' %}" class="object-bottom"/>

    <div class="bottom-layer">
      <div class="position-absolute">

      </div>
<!--      <div class="logo-container" style="top: 300px">-->
<!--        <a href="#">-->
<!--          <img src="{% static 'new_website/images/lulz_logo.png' %}" class="object-top logo-big" />-->
<!--        </a>-->
<!--        <br>-->
<!--      </div>-->
<!--      <div class="icon-container">-->
<!--        <a href="">-->
<!--          <img src="{% static 'new_website/images/icon_1.png' %}" class="icon_1"/>-->
<!--        </a>-->
<!--      </div>-->
    </div>
  </div>
  <div class="parallax__layer parallax__layer__6">
    <div class="logo-container">
      <a href="#">
        <img src="{% static 'new_website/images/lulz_logo.png' %}" class="object-top logo-big" />
      </a>
      <br>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="d-flex h-100 justify-content-end align-items-center flex-column">
            <h1 class="dancing-script text-center text-light jumbotron-text">Welcome to<br>Random Lulz Things</h1>
            <br>
            <img class="d-block" src="{% static 'new_website/images/jumbotron_1.png' %}" alt="First slide">
          </div>
        </div>
<!--        <div class="carousel-item">-->
<!--          <div class="d-flex h-100 justify-content-end align-items-center flex-column">-->
<!--            <h1 class="dancing-script text-center text-light jumbotron-text">Awarded Scholars<br>Computer Science Leaders</h1>-->
<!--            <h1 class="dancing-script text-center text-light jumbotron-text">2014 - Present</h1>-->
<!--            <a href="csleaders.org">csleaders.org</a>-->
<!--            <img class="d-none d-md-block bigger-image" src="{% static 'new_website/images/jumbotron_2.png' %}" alt="First slide">-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="carousel-item">-->
<!--          <div class="d-flex h-100 justify-content-end align-items-center flex-column">-->
<!--            <h1 class="dancing-script text-center text-light jumbotron-text">Senior Member of ITForce<br>FUKI Fasilkom 2019</h1>-->
<!--            <h1 class="dancing-script text-center text-light jumbotron-text">2019</h1>-->
<!--            <a href="fuki.cs.ui.ac.id">fuki.cs.ui.ac.id</a>-->
<!--            <img class="d-none d-md-block bigger-image" src="{% static 'new_website/images/jumbotron_3.png' %}" alt="First slide">-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="carousel-item">-->
<!--          <div class="d-flex h-100 justify-content-center align-items-end flex-row">-->
<!--            <div class="h-50">-->
<!--              <h1 class="dancing-script text-right text-light jumbotron-text">Teaching Assistant Coordinator<br> of Linear Algebra<br>Faculty of Computer Science,<br>University of Indonesia</h1>-->
<!--              <h1 class="dancing-script text-right text-light jumbotron-text">2019</h1>-->
<!--            </div>-->
<!--            <img class="d-none d-md-block" src="{% static 'new_website/images/jumbotron_4.png' %}" alt="First slide">-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="carousel-item">-->
<!--          <div class="d-flex h-100 justify-content-end align-items-center flex-column">-->
<!--            <h1 class="dancing-script text-center text-light jumbotron-text">HRD of Data Science Academu<br>COMPFEST X</h1>-->
<!--            <h1 class="dancing-script text-center text-light jumbotron-text">2019</h1>-->
<!--            <a href="compfest.id">compfest.id</a>-->
<!--            <img class="d-none d-md-block bigger-image" src="{% static 'new_website/images/jumbotron_5.png' %}" alt="First slide">-->
<!--          </div>-->
<!--        </div>-->
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" style="z-index: 9999999">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" style="z-index: 9999999">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <img src="{% static 'new_website/images/bg6.png' %}" class="object-bottom"/>
  </div>
</div>

<div class="content parallax__layer_after p-0">
  <div class="content-item container-fluid text-center p-0">
    <div id="profile" class="col-md-12 profile row bottom-inset-shadow">
      <div class="col-md-5">
        <img src="{% static 'new_website/images/profile_image.jpg' %}" class="side-image-profile" />
      </div>
      <div class="container my-auto ptp-8 col-md-7 ml-0">
        <h1 class="dancing-script text-left" style="font-size: 70px">Profile</h1>
        <p class="quotes text-left" style="font-size: 20px"><i>"Be Free, Be New, Be Different"</i></p>
        <hr class="w-50 ml-0">
        <div class="col-md-8">
          <p class="lead dosis" align="left">
            <span class="font-weight-bold">Name : </span> Lulu Ilmaknun Qurotaini <br>
            <span class="font-weight-bold">Age : </span> 20 years old <br>
            <span class="font-weight-bold">Major : </span> Computer Science <br>
            <span class="font-weight-bold">Location : </span> Bogor, Indonesia <br>
            <br>A creative code destroyer who always energetic, enjoy working in team, and eager to learn new things. Highly interested in technology especially in Data Science, Game Development, Web Development, and Robotics. Able to handle multiple task on a daily basis and quickly adapt to changes in the work environment.
            <br><br>Visit my blog: <a href="https://www.random-lulz-things.blogspot.com">random-lulz-things.blogspot.com</a></p>
        </div>
        <br>
        <div class="contact justify-content-start d-flex">
          <a href="mailto:lulu.ilmaknun.q@gmail.com">
            <img src="{% static 'new_website/images/gmail.png' %}"/>
          </a>
          <a href="https://www.linkedin.com/in/lulu-ilmaknun-qurotaini/">
            <img src="{% static 'new_website/images/linked-in.png' %}"/>
          </a>
          <a href="https://www.facebook.com/black.lily26">
            <img src="{% static 'new_website/images/facebook.png' %}"/>
          </a>
          <a href="https://www.instagram.com/lialicy/">
            <img src="{% static 'new_website/images/instagram.png' %}"/>
          </a>
          <a href="https://gitlab.com/luluilmaknun">
            <img src="{% static 'new_website/images/gitlab.png' %}"/>
          </a>
        </div>
      </div>
    </div>

<!--    <div id="values" class="d-flex flex-row justify-content-center align-items-center">-->
<!--      <h1 class="dancing-script">Talkative</h1>-->
<!--      <h1 class="dancing-script">Open-minded</h1>-->
<!--      <h1 class="dancing-script">Curious</h1>-->
<!--      <h1 class="dancing-script">Flexible</h1>-->
<!--    </div>-->
  </div>
</div>

<div id="resume" class="curtain">
  <div class="overlay d-md-none"></div>
  <div class="wrapper curtain__wrapper">
    <!-- Sidebar  -->
    <nav class="curtain__panel sidebar" id="sidebar">
      <img src="{% static 'new_website/images/profile.jpg' %}" class="side-image-profile" />

      <ul class="nav flex-column nav-pills menu_list" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="true"><li class="menu_item">Profile</li></a>
        <a class="nav-link" id="v-pills-education-tab" data-toggle="pill" href="#v-pills-education" role="tab" aria-controls="v-pills-education" aria-selected="false"><li class="menu_item">Education</li></a>
        <a class="nav-link" id="v-pills-achievement-tab" data-toggle="pill" href="#v-pills-achievement" role="tab" aria-controls="v-pills-achievement" aria-selected="false"><li class="menu_item">Achievement</li></a>
        <a class="nav-link" id="v-pills-experience-tab" data-toggle="pill" href="#v-pills-experience" role="tab" aria-controls="v-pills-experience" aria-selected="false" ><li class="menu_item">Experience</li></a>
        <a class="nav-link" id="v-pills-training-tab" data-toggle="pill" href="#v-pills-training" role="tab" aria-controls="v-pills-training" aria-selected="false"><li class="menu_item">Training & Courses</li></a>
        <a class="nav-link" id="v-pills-skill-tab" data-toggle="pill" href="#v-pills-skill" role="tab" aria-controls="v-pills-skill" aria-selected="false"><li class="menu_item">Skill</li></a>
        <a class="nav-link" id="v-pills-project-tab" data-toggle="pill" href="#v-pills-project" role="tab" aria-controls="v-pills-project" aria-selected="false"><li class="menu_item">Project</li></a
      </ul>

      <div class="contact justify-content-start d-flex">
          <a href="mailto:lulu.ilmaknun.q@gmail.com">
            <img src="{% static 'new_website/images/gmail.png' %}"/>
          </a>
          <a href="https://www.linkedin.com/in/lulu-ilmaknun-qurotaini/">
            <img src="{% static 'new_website/images/linked-in.png' %}"/>
          </a>
          <a href="https://www.facebook.com/black.lily26">
            <img src="{% static 'new_website/images/facebook.png' %}"/>
          </a>
          <a href="https://www.instagram.com/lialicy/">
            <img src="{% static 'new_website/images/instagram.png' %}"/>
          </a>
          <a href="https://gitlab.com/luluilmaknun">
            <img src="{% static 'new_website/images/gitlab.png' %}"/>
          </a>
        </div>
    </nav>

    <div class="curtain__panel" id="content-side">
        <div class="btn-icon-container position-absolute">
            <button type="button" id="arrowBack" class="btn btn-icon"><i class="fas fa-arrow-left text-dark fa-2x"></i></button>
            <button type="button" id="sidebarCollapse" class="btn btn-icon"><i class="fa fa-bars text-white fa-2x" style="font-size: 25px"></i></button>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <h1 class="dancing-script text-right">Profile</h1>
                <hr>
                <p class="dosis" align="left">
                  <span class="font-weight-bold">Name : </span> Lulu Ilmaknun Qurotaini <br>
                  <span class="font-weight-bold">Age : </span> 20 years old <br>
                  <span class="font-weight-bold">Major : </span> Computer Science <br>
                  <span class="font-weight-bold">Location : </span> Bogor, Indonesia <br>
                  <span class="font-weight-bold">Personalities : </span> Flexible, Humble, Open-minded, Curious <br>
                </p>
                <h3 class="font-weight-bold dosis">Greetings!!</h3>
                <p class="dosis"><br>I am an <strong>ENFP</strong> girl, a creative code destroyer who always energetic, enjoy working in team, and <strong>eager to learn new things</strong>.
                  I am charismatic, curious, and really like to share experiences and knowledge with people. I like to write my stories and experiences in Social media, blog, and mediums.
                  I am interested in <strong>Computer Science</strong> as I am currently pursuing Bachelor degree in Computer Science.
                  Highly interested in technology especially in Data Science, Machine Learning, and Web Development. Experienced in Web Development especially in Frontend.
                  Beside Computer Science, I am passionate in research and teaching. I am also interested in psychological things and want to explore more about <strong>psychiatry informatics</strong>.
                  I am the type of person who is able to handle multiple task on a daily basis and can quickly adapt to changes in the work environment.
                  <br>
                  <br>
                  Feel free to share with me : <a href="mailto:lulu.ilmaknun.q@gmail.com">lulu.ilmaknun.q@gmail.com</a>
                  <br>Visit my blog: <a href="https://www.random-lulz-things.blogspot.com">random-lulz-things.blogspot.com</a>
                </p>
                <br>
                <br>
                <h3 class="font-weight-bold dosis">Hobbies and Interest</h3>
                <br>
                <div id="hobbies" class="row col-md-12">
                    <div class="col-md-3 hni-wrapper">
                        <div class="hni">
                            <h4>Cats</h4>
                            <img src="{% static 'new_website/images/cats.jpeg' %}" />
                        </div>
                    </div>

                    <div class="col-md-3 hni-wrapper">
                        <div class="hni">
                            <h4>Ice Skate</h4>
                            <img src="{% static 'new_website/images/ice_skate.jpg' %}" />
                        </div>
                    </div>

                    <div class="col-md-3 hni-wrapper">
                        <div class="hni">
                            <h4>Games</h4>
                            <img src="{% static 'new_website/images/games.jpg' %}" />
                        </div>
                    </div>

                    <div class="col-md-3 hni-wrapper">
                        <div class="hni">
                            <h4>Drawings</h4>
                            <img src="{% static 'new_website/images/drawings.jpg' %}" />
                        </div>
                    </div>
                </div>

                <div id="hobbies" class="row col-md-12">
                    <div class="col-md-3 hni-wrapper">
                        <div class="hni">
                            <h4>Data Science</h4>
                            <img src="{% static 'new_website/images/ds.jpg' %}" />
                        </div>
                    </div>

                    <div class="col-md-3 hni-wrapper">
                        <div class="hni">
                            <h4>Psychiatry</h4>
                            <img src="{% static 'new_website/images/psychiatry.jpg' %}" />
                        </div>
                    </div>

                    <div class="col-md-3 hni-wrapper">
                        <div class="hni">
                            <h4>Web Development</h4>
                            <img src="{% static 'new_website/images/web.jpg' %}" />
                        </div>
                    </div>

                    <div class="col-md-3 hni-wrapper">
                        <div class="hni">
                            <h4>Al-Qur'an</h4>
                            <img src="{% static 'new_website/images/quran.jpg' %}" />
                        </div>
                    </div>
                </div>

            </div>

            <div class="tab-pane fade" id="v-pills-education" role="tabpanel" aria-labelledby="v-pills-eduation-tab">
                <h1 class="dancing-script text-right">Education</h1>
                <hr>
                <h3 class="font-weight-bold dosis">Formal Education</h3>
                <br>
                <ul class="timeline_list">
                    <div class="line_timeline">

                    </div>

                    <li class="timeline_item">

                        <div class="year">
                            2017 - Present
                        </div>

                        <div class="title">
                            University of Indonesia - Computer Science major <span class="place"> Jakarta</span>
                        </div>

                        <div class="desc">
                            Active student in academic and organization activities in college. Studying about Computer Science subject; Website Development, Computational Math, Artificial Intelligence, etc. <br>Current GPA : 3.80.
                        </div>
                    </li>

                    <li class="timeline_item">
                        <div class="year">
                            2014 - 2017
                        </div>

                        <div class="title">
                            SMA Negeri 5 Bogor - Science major <span class="place"> Jakarta</span>
                        </div>

                        <div class="desc">
                            Active student in academic and organization. Studied about Science subject; Math, Physics, Chemistry, Biology. Three years learning about Japanese Culture and Language.
                        </div>
                    </li>

                    <li class="timeline_item">
                       <div class="year">
                            2013 - 2014
                        </div>

                        <div class="title">
                            MTs Negeri Kota Bogor <span class="place"> Jakarta</span>
                        </div>
                    </li>

                    <li class="timeline_item">
                       <div class="year">
                            2011 - 2013
                        </div>

                        <div class="title">
                            MTs Negeri Model Kota Jambi <span class="place"> Jakarta</span>
                        </div>

                        <div class="desc">
                            An islamic Junior Highschool. Studied subjects like in ordinary Junior Highschool. Also studied about islamic subjects in addition; Fiqh, Aqidah, Arabic, History of Islam, and Hadith.
                        </div>
                    </li>

                    <li class="timeline_item">
                       <div class="year">
                            2005 - 2011
                        </div>

                        <div class="title">
                            SD Negeri 97 Kota Jambi <span class="place"> Jakarta</span>
                        </div>
                    </li>
                </ul>
                <br>
                <h3 class="font-weight-bold dosis">Informal Education</h3>
                <br>
                <ul class="timeline_list">
                    <div class="line_timeline">

                    </div>

                    <li class="timeline_item">

                        <div class="year">
                            2005 - 2011
                        </div>

                        <div class="title">
                            Madrasah Diniyah Takmiliyah Awaliyah Tahzibatul Islamiyah <span class="place"> Jakarta</span>
                        </div>

                        <div class="desc">
                            Informal elementary school in islamic aspects. Studied arabic, tajwid, hadith, fiqh, aqidah, and history of islam.
                        </div>
                    </li>
                </ul>
            </div>

            <div class="tab-pane fade" id="v-pills-achievement" role="tabpanel" aria-labelledby="v-pills-achievement-tab">
                <h1 class="dancing-script text-right">Achievement</h1>
                <hr>
                <ul class="timeline_list">
                    <div class="line_timeline">

                    </div>

                    <li class="timeline_item">
                        <div class="year">
                            2019
                        </div>

                        <div class="title">
                            Participant of Pekan Kreatifitas Mahasiswa (PKM) 2019
                        </div>

                        <div class="desc">
                            Developed system called SIRMABA (Sistem Informasi Transaksi dan Manajemen Data Bank Sampah) sponsored by Bank Sampah Rumah Harum Depok and funded by Ristekdikti.
                        </div>
                    </li>

                    <li class="timeline_item">
                        <div class="year">
                            2019
                        </div>

                        <div class="title">
                            Finalist of Data Mining Competition JOINTS 2019
                        </div>

                        <div class="desc">
                            Top 10 finalist (National Competition). Held by Ilmu Komputer UGM
                        </div>
                    </li>

                    <li class="timeline_item">
                        <div class="year">
                            2017
                        </div>

                        <div class="title">
                            Awarded Scholars of Computer Science Leaders Scholarship
                        </div>

                        <div class="desc">
                            A fully-funded scholarship program by Yayasan Nithya Bhaskara Widya. The program gives financial and skill development assistance. Limited only for undergraduate at Computer Science UI and STEI ITB.
                          <br> <a href="http://www.csleaders.org/about-us/">csleaders.org</a>
                        </div>
                    </li>

                    <li class="timeline_item">
                        <div class="year">
                            2017
                        </div>

                        <div class="title">
                            The Best Student in Academic Achievement
                        </div>

                        <div class="desc">
                            An award by SMAN 5 Kota Bogor for the best student in achieving academic achievements.
                        </div>
                    </li>

                    <li class="timeline_item">
                        <div class="year">
                            2017
                        </div>

                        <div class="title">
                            2nd winner of Kompetisi Statistika Junior PSN
                        </div>

                        <div class="desc">
                            PSN (Pesta Sains National) is a national prestigious competition for highschool students held by Departement of Science and Mathematics IPB.
                        </div>
                    </li>

                    <li class="timeline_item">
                        <div class="year">
                            2016
                        </div>

                        <div class="title">
                            2nd winner of National Statistics Game 2nd ISCO
                        </div>

                        <div class="desc">
                            ISCO stands for Indonesia Statistic Conference and Olympiad held by Universitas Islam Indonesia (UII). ISCO is a national competition for highschool students.
                        </div>
                    </li>

                    <li class="timeline_item">
                        <div class="year">
                            2014
                        </div>

                        <div class="title">
                            4th winner of Lomba Cepat Tepat Teknologi D'Cookies SMANDA Bogor
                        </div>

                        <div class="desc">
                            D'Cookies is an annual highschool competition for highschool students in Jabodetabek.
                        </div>
                    </li>
                </ul>
            </div>

            <div class="tab-pane fade" id="v-pills-experience" role="tabpanel" aria-labelledby="v-pills-experience-tab">
                <h1 class="dancing-script text-right">Experience</h1>
                <hr>
                <h3 class="font-weight-bold dosis">Working Experience</h3>
                <br>
                <ul class="timeline_list">
                    <div class="line_timeline"></div>

                    <li class="timeline_item">
                        <div class="year">
                            Oct 2019 - Present
                        </div>

                        <div class="title">
                            Volunteer Peer Counselor, PCHE 2019
                        </div>

                        <div class="desc">
                            PCHE (Peer Counselor and Health Educator) is a program under Klinik Bimbingan Konseling Satelit Makara UI. PCHE encourages students in UI to be peer counselor. Works in research division;
                            <ul>
                                <li>Do Research about health behavior of UI students</li>
                                <li>Organize and supervise Online Counseling program</li>
                                <li>Always listen and care :)</li>
                            </ul>
                        </div>
                    </li>

                    <li class="timeline_item">
                        <div class="year">
                            Aug 2014 - Present
                         </div>

                        <div class="title">
                            Multi-talented Assistant, GaleriLEDi
                        </div>

                        <div class="desc">
                            GaleriLEDi is family handcraft business founded by my brother
                            <ul>
                                <li>Working with electronical components, arranging flowers, marketing, packaging, delivery</li>
                                <li>Required to be able to do anything like a multi-talented assistant</li>
                            </ul>
                        </div>
                    </li>

                    <li class="timeline_item">
                        <div class="year">
                            Aug 2019 - Dec 2019
                         </div>

                        <div class="title">
                            Teaching Assistant Coordinator of Linear Algebra, Faculty of Computer Science UI
                        </div>

                        <div class="desc">
                            <ul>
                                <li>Become intermediary between Lembaga Asisten Fasilkom, teaching assistant team, lecturer, and students</li>
                                <li>Divide and assign tasks for all teaching assistant</li>
                                <li>Supervise tasks deadline and keep the task done when lecturers need it</li>
                            </ul>
                        </div>
                    </li>

                    <li class="timeline_item">
                        <div class="year">
                            Aug 2019 - Dec 2019
                         </div>

                        <div class="title">
                            Study Tutor of Statistics and Probability, Faculty of Computer Science UI
                        </div>

                        <div class="desc">
                            Assist one student in Fasilkom who needs to be assisted in one subject only.
                        </div>
                    </li>

                    <li class="timeline_item">
                        <div class="year">
                            Aug 2019 - Sep 2019
                         </div>

                        <div class="title">
                            Research Lab Assistant, Laboratory Reliable Software Engineering
                        </div>

                        <div class="desc">
                            Assist RSE's needs in development, especially frontend development.
                            <ul>
                                <li>Develop SPLELive website frontend</li>
                                <li>Develop AISCO (RSE products) website frontend</li>
                            </ul>
                        </div>
                    </li>

                    <li class="timeline_item">
                        <div class="year">
                            Jun 2019 - Sep 2019
                         </div>

                        <div class="title">
                            Business Analyst, Learn Quran
                        </div>

                        <div class="desc">
                            <ul>
                                <li>Analyze all possible opportunity to increase ; Products and Markets</li>
                                <li>Researches that have been done: Marketing Analysis Research and Competitor Analysis Research for 5 LQ products</li>
                            </ul>
                        </div>
                    </li>

                    <li class="timeline_item">
                        <div class="year">
                            Jan 2019 - Jun 2019
                         </div>

                        <div class="title">
                            Study Tutor of Calculus, Faculty of Computer Science UI
                        </div>
                    </li>

                    <li class="timeline_item">
                        <div class="year">
                            Jan 2019 - Jun 2019
                         </div>

                        <div class="title">
                            Teaching Assistant of Linear Algebra, Faculty of Computer Science UI
                        </div>
                    </li>

                    <li class="timeline_item">
                        <div class="year">
                            Jan 2019 - Jun 2019
                         </div>

                        <div class="title">
                            Data Scientist Apprentice, SayurBox
                        </div>

                        <div class="desc">
                            <ul>
                                <li>Responsible for providing analyzed data which can be used in growth marketing</li>
                                <li>Increase products selling by analyzing company's market flow</li>
                                <li>Make marketing decision needed by analyzing available data, such as campaign, product blast, etc.</li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <br>
                <h3 class="font-weight-bold dosis">Organization Experience</h3>
                <br>
                <ul class="timeline_list">
                    <div class="line_timeline"></div>

                    <li class="timeline_item">
                        <div class="year">
                            Jan 2019 - Dec 2019
                         </div>

                        <div class="title">
                            Vice Head of ITForce, FUKI Fasilkom 2019
                        </div>

                        <div class="desc">
                            ITForce is an IT Department of FUKI (Forum Ukhuwah dan Kajian Islam).
                            <ul>
                                <li>As senior member, helps junior members develop FUKI's systems.</li>
                                <li>Responsible for developing FUKI main website (fuki.cs.ui.ac.id)</li>
                            </ul>
                        </div>
                    </li>

                    <li class="timeline_item">
                        <div class="year">
                            Jan 2019 - May 2019
                         </div>

                        <div class="title">
                            Head Department of Operation, Computer Science Leaders
                        </div>

                        <div class="desc">
                            Initiate and organize CSL's programs which have goals to expose CSL values to people.
                        </div>
                    </li>

                    <li class="timeline_item">
                        <div class="year">
                            Jan 2018 - Dec 2018
                         </div>

                        <div class="title">
                            Active member, FUKI Fasilkom 2018
                        </div>

                        <div class="desc">
                            <ul>
                                <li>As a junior member, responsible for developing FUKI system frontend.</li>
                                <li>Responsible for organizing ITShare Talkshow event</li>
                            </ul>
                        </div>
                    </li>

                    <li class="timeline_item">
                        <div class="year">
                            Dec 2015 - Dec 2016
                         </div>

                        <div class="title">
                            Head Department of Journalism, ITHRI 2016
                        </div>

                        <div class="desc">
                            ITHRI is islamic organization of SMAN 5 Bogor. Supervise three work programs; Biweekly posters, Design training, Social Media
                        </div>
                    </li>

                    <li class="timeline_item">
                        <div class="year">
                            Sep 2014 - Sep 2016
                         </div>

                        <div class="title">
                            Active member, KIR 5
                        </div>

                        <div class="desc">
                            KIR 5 (Karya Ilmiah Remaja) is science club organization of SMAN 5 Bogor.
                        </div>
                    </li>

                    <li class="timeline_item">
                        <div class="year">
                            Sep 2014 - Sep 2015
                         </div>

                        <div class="title">
                            Active member, SEIKURO 5
                        </div>

                        <div class="desc">
                            SEIKURO is a japanese club organization in SMAN 5 Bogor.
                        </div>
                    </li>
                </ul>
                <br>
                <h3 class="font-weight-bold dosis">Committee Experience</h3>
                <br>
                <ul class="timeline_list">
                    <div class="line_timeline"></div>

                    <li class="timeline_item">
                        <div class="year">
                            2019
                        </div>

                        <div class="title">
                            HRD Data Science Academy, COMPFEST 11
                        </div>
                    </li>

                    <li class="timeline_item">
                        <div class="year">
                            2018
                        </div>

                        <div class="title">
                            Staff Data Science Academy, COMPFEST X
                        </div>
                    </li>

                    <li class="timeline_item">
                        <div class="year">
                            2018
                        </div>

                        <div class="title">
                            Vice PIC Publication, Design, and Documentation, Studi Islam Awal Kuliah - Next Generation (SIWAK NG) 2018
                        </div>
                    </li>

                    <li class="timeline_item">
                        <div class="year">
                            2018
                        </div>

                        <div class="title">
                            Mentor, Bimbingan Tes Gratis (BETIS) 2018
                        </div>
                    </li>

                    <li class="timeline_item">
                        <div class="year">
                            2018
                        </div>

                        <div class="title">
                            Staff Games and Competition, The 25th Computers Get Together
                        </div>
                    </li>

                    <li class="timeline_item">
                        <div class="year">
                            2017
                        </div>

                        <div class="title">
                            Staff Event, 3rd University of Indonesia Qur'anic Olympiad
                        </div>
                    </li>

                    <li class="timeline_item">
                        <div class="year">
                            2016
                        </div>

                        <div class="title">
                            Staff Consumption, Symphony on Islamic Art and Tabligh
                        </div>
                    </li>

                    <li class="timeline_item">
                        <div class="year">
                            2016
                        </div>

                        <div class="title">
                            Staff Publication, Design, and Documentation, Observasi Luar Angkasa (OLA) 2016
                        </div>
                    </li>
                </ul>
            </div>

            <div class="tab-pane fade" id="v-pills-training" role="tabpanel" aria-labelledby="v-pills-training-tab">
                <h1 class="dancing-script text-right">Training and Courses</h1>
                <hr>
                <ul class="timeline_list">
                    <div class="line_timeline"></div>
                    <li class="timeline_item">
                        <div class="year">
                            Dec 2019
                        </div>

                        <div class="title">
                            Participant, Coaching Camp 2019
                        </div>

                        <div class="desc">
                            A 2-days camp in Depok. Learn from the basic to advance on how to become a coach, organize team, etc.
                        </div>
                    </li>

                    <li class="timeline_item">
                        <div class="year">
                            Oct 2019
                        </div>

                        <div class="title">
                            Participant, PCHE Training 2019
                        </div>

                        <div class="desc">
                            A 2-days peer counselor's training from Klinik Satelit Makara UI. Learn the basic and practical on how to become a good peer counselor.
                        </div>
                    </li>

                    <li class="timeline_item">
                        <div class="year">
                            Jul 2019
                        </div>

                        <div class="title">
                            Delegation of Faculty, The 1st Southeast Asia Machine Learning School
                        </div>

                        <div class="desc">
                            A 5-days school of machine learning for selected southeast asia students. Held in Faculty of Computer Science UI, Jakarta. Learn from the basic of Machine Learning to advance implementation of Machine Learning in some fields.
                        </div>
                    </li>

                    <li class="timeline_item">
                        <div class="year">
                            Feb 2015
                        </div>

                        <div class="title">
                            Organizer, Seminar Akhwat - "Di balik balutan manis momen valentine"
                        </div>
                    </li>

                    <li class="timeline_item">
                        <div class="year">
                            2014
                        </div>

                        <div class="title">
                            Participant, Basic Leadership Training
                        </div>

                        <div class="desc">
                            A 2-day camp in Bogor held by OSIS SMAN 5 Bogor. Learn about the basic of leadership in organization.
                        </div>
                    </li>
                </ul>
            </div>

            <div class="tab-pane fade" id="v-pills-skill" role="tabpanel" aria-labelledby="v-pills-skill-tab">
                <h1 class="dancing-script text-right">Skill</h1>
                <hr>
            </div>

            <div class="tab-pane fade" id="v-pills-project" role="tabpanel" aria-labelledby="v-pills-project-tab">
                <h1 class="dancing-script text-right">Project</h1>
                <hr>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}